<div class="container_user">
  <div class="container_about">
     <h1 class="text-center"><span class="fas fa-bolt"></span>
        runboost
      </h1>
      <h2 class="text-center">runboostはあなたの走りのためのサービスです！</h2> 
    　<h3 class="text-center">走りの記録</h3>
    　<h3 class="text-center">走りの目標設定</h3>
    　<h3 class="text-center">走りの達成度の確認</h3>
    　<h3 class="text-center">上記の機能により走りの見える化を実現し、<br>あなたの走りをサポートすることができます！</h3>
  </div>
  
</div>