body {
    padding-top: 50px;
}

.fa-bolt{
  color: blue;
  font-size: 2em;
  vertical-align: middle;
}
// 追記
.datetime-form {
  display: inline-block;
  width: auto;
}
.simple-calendar {
 .day {}
 .wday-0 {}
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {}
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month { }
 .current-month {}
 .has-events {
   background: #98fb98;
 }
}